.appButtonPrimary,
.appButtonSecondary
 {
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}


.appButtonPrimary {
    background-color: #1c0e7b;
    color: #fff;
    border: none;
}

.appButtonSecondary {
    background-color: #fff;
    color: #1c0e7b;
    border: 2px solid; 
}
