.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

/* optionally, you can also add a max-width to limit the width of the content */