.notecard {
    margin: 10px 0;
    border: 2px solid #1c0e7b;
    border-radius: 10px;
    min-height: 90px;
    width: 600px;
    
}

.title {
    padding: 5px;
    border-bottom: 2px solid #1c0e7b;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #cfd219;
}

.description {
    padding: 5px;
}

.textarea {
    min-width: 500px;
    min-height: 70px;
    border: none;
    resize: none; 
    outline: none;
}